.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--text, #434455);
    background-color: var(--white-background, #FFFFFF);

}

.container {
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

:root {
    --primary-brand: #4D5AE5;
    --pressed-state: #404BBF;
    --dark: #2E2F42;
    --success: #31D0AA;
    --text: #434455;
    --subtle-text: #8E8F99;
    --accent: #E7E9FC;
    --light: #F4F4FD;
    --modal-overlay: #2E2F4266;
    --hero-background: #2E2F42B2;
    --white-background: #FFFFFF;
    --modal-background: #FCFCFC;
}

*, ::after, ::before {
    box-sizing: border-box;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

img {
    display: block;
}


/* HEADER */
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    justify-content: space-between;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-burger{
    border: none;
    background-color: transparent;
}

.logo {
    color: var(--primary-brand, #4D5AE5);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-top: 25px;
    padding-bottom: 25px;


}

.logo-span {
    color: var(--dark, #2E2F42);


}

.header-list {
    display: none;
}

.heafer-item {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

.header-link {
    color: var(--dark, #2E2F42);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: inline-block;    
}

.header-link.current{
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}

.header-link:hover,
.header-link:focus {
    color: var(--pressed-state, #404BBF);
}

.header-link.current::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: -1px;
    height: 4px;
    width: 100%;
    background-color: #404bbf;
    border-radius: 2px;
    z-index: 1;
}

.address {
    font-style: normal;
}

.address-list {
    display: none;
}

.address-item {
    display: none;
}

.address-link {
    color: var(--text, #434455);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: var(--hover-text-color);
}


.header-burger-svg{
    stroke: #2e2f42;
}

/* HERO  */

.hero-section {
    background-color: var(--dark, #2E2F42);
    padding: 112px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    max-width: 100%;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-bg-tabl.jpg);
}

/* @media only screen and (min-resolution: 192dpi) {
    .hero-section{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-bg-tabl@2x.jpg);
    }
    
} */



.hero-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white-background, #FFFFFF);
    max-width: 320px;
    /* margin-bottom: 48px; */
    margin: 0 auto 48px auto;
    display: block;
    font-weight: 700;
    
}

.hero-btn {
    background-color: var(--primary-brand, #4D5AE5);
    color: var(--white-background, #FFFFFF);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    min-width: 169px;
    padding: 16px 32px;
    /* height: 56px; */
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    display: block;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--pressed-state, #404BBF);
}


/* benefits section */
.benefits-section {

    padding: 96px 0;
}

.benefits-list {
    
}

.benefits-item {
    max-width: 396px;
    
}

.benefits-item:not(:last-child){
    margin-bottom: 72px;
}


.benefit-svg{
    display: none;
    align-items: center;
    justify-content: center;
     height: 112px;
    padding: 24px 100px;
    border-radius: 4px;
    background-color: var(--light, #F4F4FD);
    margin-bottom: 8px;
}

.benefits-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--dark, #2E2F42);
    margin-bottom: 8px;
    text-align: center;
}

.benefits-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--SLATE, #434455);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
    
}

.doing-section{
    display: none;
}

/* our team section  */
.team-section {
    background-color: var(--light, #F4F4FD);
    padding: 96px 0;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark, #2E2F42);
    /* padding-top: 120px; */
    margin-bottom: 72px;

}

.team-list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 72px;
    column-gap: 24px;
  
}

.team-item {
    background-color: var(--white-background, #FFFFFF);
    /* display: inline-flex;
    padding: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    /* margin-bottom: 72px; */
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    max-width: 264px;
    flex-basis: calc((100% - 0) / 1);
}

.team-descr {
    padding: 32px 0;
}

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark, #2E2F42);
    margin-bottom: 8px;
    text-align: center;
}


.team-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text, #434455);
    text-align: center;
    margin-bottom: 8px;
    
}

.team-svg-list{
    display: flex;
    gap: 24px;
    justify-content: center;
}

.team-svg-item{
    width: 40px;
    height: 40px;
    
}

.team-svg{
    border-radius: 50%;
    background-color: #4d5ae5;
    padding: 8px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-svg-fill{
    fill: #F4F4FD;
}

.team-svg-fill:hover,
.team-svg-fill:focus{
    background-color: #404bbf;
}


.mobile-soc-link{
    border-radius: 50%;
    background-color: var(--primary-brand, #4D5AE5);
    /* margin-top: 8px;
    fill: #F4F4FD; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}





/* CUSTOMERS */
/* .customers-section {
    padding-top: 96px;
    padding-bottom:24px;
}

.customers-title {
    color: var(--dark ,#2E2F42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.customers-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.customer-item {
    width: calc((100% - 16px) / 2);
    height: 88px;
   
    
}

.customer-item:not(:last-child){
    margin-bottom: 72px;
}

.customer-svg-link {
    color: #8E8F99;
    border: 1px solid #8E8F99;
    padding: 16px 32px;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-svg-link:hover{
    border-color: #404bbf;
    color: #404bbf;
}

.customer-svg-link:focus {
    border-color: #404bbf;
    color: #404bbf;
}

.customer-svg{
    fill: currentColor;
    width: 110px;
    height: 56px;
} */

.customers-section {
    padding: 96px 0;
    margin: 0;
  }

  .customers-title {
    color: var(--dark ,#2E2F42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.customers-list {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 72px;
  }
  
  .customer-item {
    width: calc((100% - 24px) / 2);
    height: 88px;
    max-width: 190px;
  }
  
  .customer-svg-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8E8F99;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    padding: 16px 32px;
    cursor: pointer;
    height: 88px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .customer-svg-link:hover,
  .customer-svg-link:focus {
    border-color: var(--hover-text-color);
    color: var(--hover-text-color);
    border-radius: 4px;
  }
  
  .customer-svg-link:hover .customer-svg {
    fill: var(--hover-text-color);
    border-color: #404bbf;
  }
  
  .customer-svg {
    fill: currentColor;
  }






/* FOOTER */
.footer {
    background-color: var(--dark, #2E2F42);
    padding: 97px 0;
    text-align: center;

}
.footer-left{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.footer-logo {
    font-family: "Raleway", sans-serif;
    color: var(--primary-brand, #4D5AE5);
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 17px;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.16; /* 116.667% */
    letter-spacing: 0.03em;
}   


.footer-span {
    color: var(--light, #F4F4FD);
}

.footer-text {
    line-height: 1.5;
    color: var(--light, #F4F4FD);
    letter-spacing: 0.02em;
    font-weight: 400;
    font-size: 16px;
    width: 268px;
    text-align: start;
    margin-bottom: 72px;
    

}

.footer-wrapper{
}

.footer-media-title {
    color: var(--white-background, #FFF);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}
.footer-list {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.footer-left{
}

.footer-center{
    margin-bottom: 72px;
}

.footer-item {
    width: 40px;
    height: 40px;
    
}

.footer-svg-link {
    padding: 8px;
    border-radius: 50%;
    background-color: var(--primary-brand, #4D5AE5);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.footer-svg-link:hover,
.footer-svg-link:focus{
     background-color: #31d0aa;
}

.footer-svg{
    fill: #F4F4FD;
}

.footer-right {
}

.footer-right-text{
    color: var(--WHITE, #FFF);
    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    font-size: 16px;
}

.footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.footer-input{
    width: 398px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--white-background, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    padding-top: 8px;
    padding-left: 16px;
    padding-bottom: 8px;
    /* margin-bottom: 16px; */
    color: var(--white-background, #FFF);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
}
.footer-input::placeholder {
    color: var(--white-background, #FFF);
}
.footer-subscr-btn {
    background-color: var(--primary-brand, #4D5AE5);
    color: var(--white-background, #FFF);
    text-align: center;
    padding: 8px 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    gap: 16px;
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    border: none;
    
}
.footer-subscr-svg {
    fill: var(--white-background);
    
}


@media screen and (min-width: 428px) {
    .container {
        min-width: 320px;
        max-width: 428px;
      }
    
     

}



/* modal */
.modal-section{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

}



.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    background: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.modal-close-btn{
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-close-btn:hover, 
.modal-close-btn:focus {
    background-color: #404bbf;
    border: none;
}

.modal-close-svg{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-close-svg,
.modal-close-btn:focus .modal-close-svg{
    fill: #ffffff;
}

.modal-title{
    color: var(--dark, #2E2F42);
    text-align: center;
    font-size: 16px;

    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.modal-wrapper {
    margin-bottom: 8px;
  }

.modal-label{
    color: var(--subtle-text, #8E8F99);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    display: block;
    margin-bottom: 4px;
}

.contacts-wrapper{
    position: relative; 
    margin-bottom: 8px;

}

.contacts-input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4); 
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-color: #4D5AE5;
    border: 1px solid rgba(46, 47, 66, 0.4);
}

.contacts-input:focus{
    border-color: #4D5AE5;
}

.contacts-svg{
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms  cubic-bezier(0.4, 0, 0.2, 1);
    fill: #2e2f42;
}
.contacts-input:focus .contacts-svg{
    fill: #4D5AE5; 
}

.texrarea-wrapper{
    margin-bottom: 16px;
}

.textarea{
    width: 100%;
    height: 120px;
    font-size: 12px; 
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 


}

.textarea:focus{
    border-color: #4D5AE5;
}


.privacy-wrapper{
    margin-bottom: 24px;
}

/* .contacts-input:focus-within,
.contacts-comment-field:focus-within {
  border-color: var(--primary-brand, #4D5AE5);
} */


.contacts-input:focus-within + .contacts-svg {
    fill: #4D5AE5;
  }



.privacy-input:checked + .privacy-label > .privacy-span {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
  }

.privacy-label{
    display: block;
    color: var(--subtle-text, #8e8f99);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17; 
    letter-spacing: 0.04em;
    cursor: pointer;
}

.privacy-span{
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
}


.privacy-link{
    color: var(--primary-brand, #4D5AE5);
}

.btn-send{
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px; 
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
     margin: 0 auto;
}







/* MOBILE-MODAL */


.mobile-header-modal{
    position: fixed;
    top: 0;
    left: 0;
  
    width: 100%;
    height: 100%;
    padding: 80px 35px 40px 50px;
  
    display: flex;
    flex-direction: column;
    background-color: #fff;
    z-index: 5;
    transform: translateX(100%);
    transition: transform 300ms ease-in;
}

.mobile-header-modal.is-open {
    transform: translateX(0);
  }

  .mobile-closer-svg{

    fill: #2e2f42;
  }

.mobile-closer{
    position: absolute;
    top: 24px;
    right: 24px;
    min-width: 24px;
    min-height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;  
    background-color: #fff;
    border: 1px solid #e7e9fc;
    border-radius: 50%;
}

.mobile-nav-list{
    margin-bottom: auto;
}


.mobile-nav-item:not(:last-child){
    margin-bottom: 40px;
}

.mobile-nav-link{
    color: var(--dark, #2E2F42);
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11; /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.mobile-nav-link.current{
    color: var(--pressed-state, #404BBF);
}

.mobile-cont-list {
    margin-bottom: 48px;
}


.mobile-cont-item:not(:last-child){
    margin-bottom: 40px;
}

.mobile-cont-tel{
    color: var(--primary-brand, #4D5AE5);

    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11; /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;
    display: block;
   
}

.mobile-cont-mail{
    color: var(--text, #434455);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    letter-spacing: 0.02em;
    padding-top: 40px;
}

.mobile-soc-list{
    display: flex;
    justify-content: space-between;
}

.mobile-soc-item{
    width: 40px;
    height: 40px;
}


.mobile-soc-link{
    
    border-radius: 50%;
    background-color: #4d5ae5;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-soc-svg{
    fill: #f4f4fd;
    display: flex;
}



@media only screen and (max-width: 427.98px) {
    .footer-label, .footer-form, .footer-input{
        width: 100%;
    }
    
}