.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--text, #434455);
    background-color: var(--white-background, #FFFFFF);

}

.container {
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}


/* HEADER */
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    justify-content: space-between;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    align-items: center;
}

.logo {
    color: var(--primary-brand, #4D5AE5);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-top: 25px;
    padding-bottom: 25px;


}

.logo-span {
    color: var(--dark, #2E2F42);


}

.header-list {
    display: none;
}

.heafer-item {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

.header-link {
    color: var(--dark, #2E2F42);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: inline-block;    
}

.header-link.current{
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}

.header-link:hover,
.header-link:focus {
    color: var(--pressed-state, #404BBF);
}

.header-link.current::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: -1px;
    height: 4px;
    width: 100%;
    background-color: #404bbf;
    border-radius: 2px;
    z-index: 1;
}

.address {
    font-style: normal;
}

.address-list {
    display: none;
}

.address-item {
    display: none;
}

.address-link {
    color: var(--text, #434455);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: var(--hover-text-color);
}


.header-burger-svg{
    stroke: #2e2f42;
}

/* HERO  */

.hero-section {
    background-color: var(--dark, #2E2F42);
    padding: 112px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

.hero-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white-background, #FFFFFF);
    max-width: 320px;
    /* margin-bottom: 48px; */
    margin: 0 auto 48px auto;
    display: block;
    font-weight: 700;
    
}

.hero-btn {
    background-color: var(--primary-brand, #4D5AE5);
    color: var(--white-background, #FFFFFF);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    min-width: 169px;
    padding: 16px 32px;
    /* height: 56px; */
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    display: block;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--pressed-state, #404BBF);
}


/* benefits section */
.benefits-section {

    padding: 96px 0;
}

.benefits-list {
    
}

.benefits-item {
    max-width: 396px;
    margin-bottom: 72px;
}

.benefit-svg{
    display: none;
    align-items: center;
    justify-content: center;
     height: 112px;
    padding: 24px 100px;
    border-radius: 4px;
    background-color: var(--light, #F4F4FD);
    margin-bottom: 8px;
}

.benefits-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--dark, #2E2F42);
    margin-bottom: 8px;
    text-align: center;
}

.benefits-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--SLATE, #434455);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
    
}

.doing-section{
    display: none;
}

/* our team section  */
.team-section {
    background-color: var(--light, #F4F4FD);
    padding: 96px 0;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark, #2E2F42);
    /* padding-top: 120px; */
    margin-bottom: 72px;

}

.team-list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 72px;
    column-gap: 24px;
  
}

.team-item {
    background-color: var(--white-background, #FFFFFF);
    /* display: inline-flex;
    padding: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    /* margin-bottom: 72px; */
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    max-width: 264px;
    flex-basis: calc((100% - 0) / 1);
}

.team-descr {
    padding: 32px 0;
}

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark, #2E2F42);
    margin-bottom: 8px;
    text-align: center;
}


.team-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text, #434455);
    text-align: center;
    margin-bottom: 8px;
    
}

.team-svg-list{
    display: flex;
    gap: 24px;
    justify-content: center;
}

.team-svg-item{
    width: 40px;
    height: 40px;
}

.team-svg{
    border-radius: 50%;
    background-color: var(--primary-brand, #4D5AE5);
    /* margin-top: 8px;
    fill: #F4F4FD; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-svg:hover,
.team-svg:focus{
    background-color: #404bbf;
}

.team-svg-fill{
    fill: #F4F4FD;
}



/* CUSTOMERS */
.customers-section {
    padding-top: 96px;
    padding-bottom:24px;
}

.customers-title {
    color: var(--dark ,#2E2F42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.customers-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.customer-item {
    width: calc((100% - 16px) / 2);
    height: 88px;
   
    
}

.customer-item:not(:last-child){
    margin-bottom: 72px;
}

.customer-svg-link {
    color: #8E8F99;
    border: 1px solid #8E8F99;
    padding: 16px 32px;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-svg-link:hover{
    border-color: #404bbf;
    color: #404bbf;
}

.customer-svg-link:focus {
    border-color: #404bbf;
    color: #404bbf;
}

.customer-svg{
    fill: currentColor;
    width: 110px;
    height: 56px;
}






/* FOOTER */
.footer {
    background-color: var(--dark, #2E2F42);
    padding: 97px 0;
    text-align: center;

}
.footer-left{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.footer-logo {
    font-family: "Raleway", sans-serif;
    color: var(--primary-brand, #4D5AE5);
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 17px;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.16; /* 116.667% */
    letter-spacing: 0.03em;
}   


.footer-span {
    color: var(--light, #F4F4FD);
}

.footer-text {
    line-height: 1.5;
    color: var(--light, #F4F4FD);
    letter-spacing: 0.02em;
    font-weight: 400;
    font-size: 16px;
    width: 268px;

    margin-bottom: 72px;
    

}

.footer-wrapper{
}

.footer-media-title {
    color: var(--white-background, #FFF);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}
.footer-list {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.footer-left{
}

.footer-item {
    width: 40px;
    height: 40px;
    margin-bottom: 72px;
}

.footer-svg-link {
    padding: 8px;
    border-radius: 50%;
    background-color: var(--primary-brand, #4D5AE5);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.footer-svg-link:hover,
.footer-svg-link:focus{
     background-color: #31d0aa;
}

.footer-svg{
    fill: #F4F4FD;
}

.footer-right {
}

.footer-right-text{
    color: var(--WHITE, #FFF);
    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    font-size: 16px;
}

.footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.footer-input{
    width: 398px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--white-background, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    padding-top: 8px;
    padding-left: 16px;
    padding-bottom: 8px;
    margin-bottom: 16px;
    color: var(--white-background, #FFF);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
}
.footer-input::placeholder {
    color: var(--white-background, #FFF);
}
.footer-subscr-btn {
    background-color: var(--primary-brand, #4D5AE5);
    color: var(--white-background, #FFF);
    text-align: center;
    padding: 8px 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    gap: 16px;
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    border: none;
    
}
.footer-subscr-svg {
    fill: var(--white-background);
    
}


@media screen and (min-width: 428px) {
    .container {
        min-width: 320px;
        max-width: 428px;
      }
    
     

}