@media screen and (min-width: 768px) {
    .container{
        max-width: 768px;
        padding: 0 16px;
        margin: 0 auto;
        
    }


    .header-nav {
        justify-content: space-between;
    }

    .logo{
        margin-right: 120px;
    }

    .header-list {
        display: flex;
        gap: 40px;   
    }

    .header-item:last-child{
        /* margin-right: 121px; */
    }

    .header-link{

    }
    .address{
        margin-top: auto;
        margin-bottom: auto;
    }
    .address-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .address-item {
        display: flex;
        

    }

    .address-link{
        padding: 0;
        color: var(--text, #434455);
        font-family: Roboto;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.17; /* 116.667% */
        letter-spacing: 0.04em;
        display: flex;
    column-gap: 16px;
    }

    .header-burger{
        display: none;
    }
 
    .hero-section{
        max-width: 100%;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-bg-desc.jpg);
    }


    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        
    }
    .benefits-title{
        text-align: start;
    }
    .benefits-list{
        display: flex;
        column-gap : 24px;
        margin-bottom: 0;
        row-gap: 72px;
        flex-wrap: wrap;
    }

    .benefits-item{
        width: calc((100% - 24px) / 2);
        margin-bottom: 0;
    }

    .team-list {
        flex-wrap: wrap;
        column-gap : 24px;
        justify-content: center;
    }

    .team-item{
        width: calc((100%-16px) / 1);
    }

    /* .customer-list{
        display: flex;
        gap: 24px;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 72px;
    }

    .customer-item {
        width: calc((100% - 24px) / 1);
        max-width: 168px;
        margin-bottom: 0;
        h88
        
    }

    .customer-item:not(:last-child){
        margin-bottom: 0px;
    }
    
    .customer-svg-link{
        display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    } */
    .customer-item {
        width: calc((100% - 24px) / 1);
        max-width: 168px;
      }



    .footer{
        text-align: left;
    }

    .footer-text{
        width: 264px;
    }
    .footer-l-c{
        display: flex;
        gap: 24px;
    }

    .footer-left{
        padding-left: 93px;
        align-items: start;
    }
    .footer-center{
        margin-bottom: 0;
        }

    .footer-right {
        padding-left: 93px;
    }

    .footer-right-text{
        align-items: start;

    }

    .footer-form {
        display: flex;
        flex-direction: row;
        gap: 24px;
        align-items: start;
       
    }

    .footer-input{
        width: 264px;
        margin-bottom: 0;
    }
}

@media only screen and (min-width: 768px) and (min-resolution:192dpi ) {
    .hero{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-bg-tabl@2x.jpg);
    }
    
}